<div class="expanded highlight padding no-margin-top">
  <div class="row">
    <div class="small-12 medium-6 column">
      <%= image_tag("home-welcome.svg") %>
    </div>

    <div class="small-12 medium-6 column">
      <p>
        Para seguir creyendo, debemos seguir creando, dialogando y deliberando en conjunto para alcanzar la Revolución Democrática que Chile necesita. Te invitamos a participar con tu diálogo y opiniones para que, juntos, elaboremos un proyecto de unidad y proyección para que RD sea protagonista de las transformaciones que Chile necesita.
      </p>    </div>
  </div>
</div>

<% cache [locale_and_user_status, @featured_debates, @featured_proposals, 'featured'] do %>
  <main>
    <div class="row text-center margin">
      <div class="small-12 medium-4 column">
        <%= image_tag("home-debate.svg") %>
        <h2><%= layout_menu_link_to 'Creamos diálogo',
                                        debates_path,
                                        controller_name == 'debates',
                                        accesskey: "d" %></h2>
      </div>

      <div class="small-12 medium-4 column">
        <%= image_tag("home-participacion.svg")  %>
          <h2><%= link_to "Creamos participación", "/participacion" %></h2>
      </div>

      <div class="small-12 medium-4 column">
        <%= image_tag("home-sumate.svg") %>
        <h2>Súmate</h2>
      </div>
    </div>
  </main>
<% end %>
