<!DOCTYPE html>
<html lang="<%= I18n.locale %>" data-current-user-id="<%= current_user.try(:id) %>">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!--[if lt IE 9]>
      <%= stylesheet_link_tag "ie" %>
    <![endif]-->
    <%= favicon_link_tag "favicon.ico" %>
    <%= favicon_link_tag "apple-touch-icon-200.png",
                     rel: "icon apple-touch-icon",
                     sizes: "200x200",
                     type: "image/png" %>

  </head>
  <body>
    <h1 class="sr-only"><%= setting['org_name'] %></h1>

    <div class="wrapper" style="text-align: center;">

      <%= yield %>

  </body>
  <!--[if lt IE 9]>
    <%= javascript_include_tag "ie_lt9" %>
  <![endif]-->
</html>
